.wishlist-heading {
      text-align: center;
      font-size: 1.5rem;
      margin: 2rem;
}

.empty-wishlist-cont {
      text-align: center;
      color: var(--primary-color);
      margin: 4rem;
}

.keep-shopping-link {
      text-decoration: none;
      outline: none;
      color: var(--black-color);
      font-size: 2rem;
      font-weight: 1000;
}