.mycart-brand-container {
      display: flex;
      justify-content: space-around;
}

.cart-title {
      text-align: center;
      color: var(--primary-color);
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
}

.added-cart-product {
      display: flex;
      flex-direction: column;
}

.empty-cart-cont {
      text-align: center;
      color: var(--primary-color);
      margin: 4rem;
}

.keep-shopping-link {
      text-decoration: none;
      outline: none;
      color: var(--black-color);
      font-size: 2rem;
      font-weight: 1000;
}