.heading {
      color: var(--black-color);
      font-size: 2rem;
      border-bottom: 2px solid var(--primary-color);
      width: 6rem;
      margin: auto;
      font-weight: 900;
}

.heading:hover {
      color: var(--primary-color);
}

.demo-img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 1rem;


}

.summer-sell {
      width: 15rem;
      letter-spacing: 3px;
}



.demo-img img {
      width: 40%;
      height: 80%;
      transition: all 1s ease-in-out;

}

.summer-img {
      width: 90%;
      height: 100%;
      margin: 1rem;
      margin-left: 4rem;
}

.demo-img img:hover {
      transform: scale(1.1);


}