.main-content-cont {
      width: 100%;
      height: 70%;
}

.home-sec-image {
      width: 100%;
      height: 35rem;
      position: relative;
}

.home-sec-image img {
      width: 100%;
      height: 100%;



}

.home-title {
      position: absolute;
      top: 40%;
      right: 20%;
      font-size: 4rem;
      font-weight: 900;
      color: var(--secondary-color);
      font-family: 'Recursive', sans-serif;


}

.order-now-btn {
      position: absolute;
      top: 65%;
      right: 20%;
      font-size: 1.3rem;
      font-weight: 600;
      color: var(--black-color);
      font-family: 'Recursive', sans-serif;
      padding: 0.7rem;
      border: none;
      color: var(--secondary-color);
      background-color: var(--primary-color);
      border-radius: 2rem;
      cursor: pointer;
}

.order-now-btn:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      cursor: pointer;
}