.main-body-sec {
      display: flex;
      width: 100%;
      height: 100%;
      margin-bottom: 5rem;

}

.sidebar-filter-sec {
      margin-top: 0.05rem;
      width: 20%;
      height: 30rem;
      background-color: var(--secondary-color);
      box-shadow: 2px 2px 79px -44px var(--box-shadow-black-color);
}

.filter-sidebar-heading {
      margin: 1rem;
      display: flex;
      justify-content: space-between;
}

.products-title {
      text-align: center;
      color: var(--black-color);
      margin: 1rem 0 0 4rem;
      font-size: 1.5rem;
      font-weight: bold;
}

.product-card-cont {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;



}

.products-sec {
      width: 80%;
      height: 85%;
      display: flex;
      flex-wrap: wrap
}