@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&family=Poppins:wght@100;300&family=Recursive:wght@600&family=Satisfy&display=swap');


.navigation-cont {
      height: 4rem;
      width: 100%;
}
.navigation-cont{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.navigation-cont {
      background-color: var(--primary-color);

}

.name-of-site {
      color: var(--secondary-color);
      font-family: 'Satisfy', cursive;
      margin-left: 2rem;
}

.logo-link {
      text-decoration: none;
      outline: none;
}

.nav-icon {
      color: var(--secondary-color);
}

.icon-badge {
      width: 25px;
      height: 25px;
      top: -5px;
}

.nav-button .login-button {
      color: var(--secondary-color);
}

.nav-button {

      text-decoration: none;
}