.footer {
      background-color: var(--primary-color);
      padding: 2rem 1rem;
      text-align: center;
      color: var(--secondary-color);
      height: 10rem;
      font-weight: 600;
      width: 100%;

}

.link {
      box-sizing: border-box;
      text-decoration: none;
      padding: 0.5rem 1rem;
}

.social-link {
      text-decoration: none;
      list-style: none;
      display: flex;
}

.footer .link {
      color: var(--secondary-color);
      font-weight: 600;
}

.footer .footer-header {
      font-weight: bold;
      font-size: 1rem;

}

.footer ul {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
}

.margin-top {
      margin-top: 1rem;
}

.copyright {
      font-size: 0.7rem;
}